$btn-size: 65px;
$calc-width: 300px;
$calc-btn-width: 75px;
$calc-btn-height: 65px;

*{
  box-sizing: border-box;
}

.calculator-wrap{
  margin: auto;
  margin-top: 50px;
 width: $calc-width;
 .calculator{
   header{
     width: 100%;
     height: 40px;
     .input-wrapp{
       width: 100%;
       height: 100%;
       
       input{
         height: 100%;
         width: 100%;
         text-align: right;
       }
     }
   }
   main{
     margin-top: 20px;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     .col{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &-left{
        width: calc( $calc-width - $calc-btn-width);
      }
      &-right{
        width: $calc-btn-width;

        .btn-wrap{
          display: inline;
         
          height: $calc-btn-height;
          button{
            background-color:#2196f3;
            color: white;
          }
          
        }
      }
     }

     .btn-wrap{
       display: inline;
       width: $calc-btn-width;
       height: $calc-btn-height;
       button{
         width: 100%;
         height: 100%;

        
       }

     }
   }
 }
 button{

  font-weight: bold;
  font-size: 20px;
  &.not-active{
    border:none;
    background-color: #7db7e0;
    
  }
 }

}